<h1>iMakeTunesMovie</h1>
<div class="row">
  {{#each iMovies}}
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card" style="width: 17rem;">
        <img class="card-img-top" src="{{this.im:image.[2].label}}" alt="{{this.im:name.label}}">
        <div class="card-body">
          <h5 class="card-title">{{this.im:name.label}}</h5>
          <p class="card-text">Purchase Price: {{this.im:price.label}}</p>
          <p class="card-text">Release Date: <br> {{this.im:releaseDate.attributes.label}}</p>
          <a href="/{{@index}}" class="btn btn-primary moreDetails" >More details</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
